.reverse {
  @media (max-width: 1100px) {
    display: flex;
    flex-direction: column-reverse;
  }
}
.img {
  @media (max-width: 1100px) {
    width: 24rem;
  }
  @media (max-width: 900px) {
    width: 20rem;
  }
}
